<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.fnplus.clientproject">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <!-- Define a permission to secure activities from other applications -->
    <permission
        android:name="xyz.fnplus.clientproject.SECURE"
        android:protectionLevel="signature" />
    <!-- Normal permissions, access automatically granted to app -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Permission to secure a particular activity -->
    <uses-permission android:name="xyz.fnplus.clientproject.SECURE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Support for expanded screen aspect ratio of 18:9 like Samsung Galaxy S8/S8+, LG G6 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <!-- Disable Analytics collection to false by default -->
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:permission="xyz.fnplus.clientproject.SECURE"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:permission="xyz.fnplus.clientproject.SECURE"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>
</manifest>